/*
	PixoVR custom
*/

#doc-content
{
	padding-top: unset !important;
}

@media screen and (min-width: 768px) {
	#doc-content {
		padding-bottom: calc(2 * var(--spacing-large)) !important;
		#padding-bottom: unset !important;
	}
}

#nav-sync
{
	display: none;
}

/*
#projectlogo img
{
	width: 44px;
	height: 44px;
}
*/

html
{
	--primary-color: hsl(33deg 100% 42.94%);
	--primary-dark-color: hsl(42deg 43.02% 35.1%);
	--primary-light-color: hsl(42deg 73.33% 67.65%);
}

html.dark-mode
{
	--primary-color: hsl(42deg 79% 56%);
	--primary-dark-color: hsl(42deg 34% 65% / 1);
	--primary-light-color: hsl(42deg 42% 48% / 1);
}

html.dark-mode div.contents div.dyncontent img,
html.dark-mode div.contents center img,
html.dark-mode div.contents > table img,
html.dark-mode div.contents div.dyncontent iframe,
html.dark-mode div.contents center iframe,
html.dark-mode div.contents table iframe,
html.dark-mode div.contents .dotgraph iframe
{
	filter: brightness(85%) hue-rotate(0deg) invert();
}

html .mlabels .mlabel,
html.dark-mode .mlabels .mlabel,
html.dark-mode .icona .icon
{
	color: var(--page-background-color);
}

#titlearea
{
	padding: 0px var(--spacing-large) 2px var(--spacing-large);
	min-height: 69px;
}

#titlearea table
{
	min-height: 69px;
}

.select2,
#projectswitcher
{
	font-family: var(--font-family);
	#font-size: var(--title-font-size);
	font-size: 26px;
	font-weight: 600;

	border: 1px solid transparent;
	border-radius: 20px;

	background: none;
	color: var(--page-foreground-color);

	cursor: pointer;

	position: relative;
	left: -9px;
	top: 6px;

	padding: 0px 0px 0px 5px;
	margin: 0px;
}

.select2:hover,
#projectswitcher:hover
{
	background: var(--page-background-color);
	
	border: 1px solid var(--separator-color);
	border-image: initial;

	#box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.select2:active,
#projectswitcher:active
{
	#font-size: var(--page-font-size);
	outline: 1px solid var(--page-background-color);
}

.select2:focus,
#projectswitcher:focus
{
	outline: none;
}

#projectlogo
{
	width: 1px;
}

#projectlogo img
{
	max-height: calc(var(--title-font-size) * 2);
	padding-top: 5px;
	margin-right: 0px;
}

#projectnumber
{
	line-height: 10px;
	max-width: 44px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

#projectbrief
{
	line-height: 20px;
}

iframe
{
	padding: 20px;
	filter: hue-rotate(180deg);
}

div.contents, div.header .title, div.header .summary
{
	Xmax-width: var(--content-maxwidth);
	max-width: unset;
}

.select2-container
{
	box-sizing: unset;
	z-index: 10000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: inherit;
	line-height: inherit;
	padding-left: 2px;
	padding-top: 2px;
	overflow: unset;
}

.select2-container--default .select2-selection--single {
	background-color: inherit;
	border: inherit;
	border-radius: inherit;
}

.select2-container--open {
	background-color: var(--page-background-color);
	border-radius: 15px 15px 0px 0px;
	border-color: var(--separator-color);
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.select2-dropdown {
	background-color: var(--page-background-color);
	border: 1px solid var(--separator-color);
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.select2-container--default .select2-results__option--selected {
	background-color: var(--page-foreground-color);
	color: var(--page-background-color);
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 300px;
}

.footer .emphasize
{
	color: var(--page-foreground-color);
	#font-weight: bold;
}

table.markdownTable h1
{
	margin-right: 0px;
	font-size: 3em;
	line-height: 0em;
	margin-top: 0.5em;
}

table.markdownTable td
{
	background: var(--code-background);
}

svg .layer
{
	filter: drop-shadow(3px 3px 3px rgb(0.2 0.2 0.2 / 0.3));
}

@media (prefers-color-scheme: dark) {
	svg .layer
	{
		filter: drop-shadow(3px 3px 3px rgb(0.8 0.8 0.8 / 0.3));
	}
}

.dotgraph
{
	box-shadow: inset 0px 0px 14px rgba(0 0 0 / .2);
	background-color: var(--code-background);
	Xclear: both;
	Xmax-height: 600px;
	max-height: 80vh;
}

.dotgraph::-webkit-scrollbar-corner
{
	background-color: transparent;
}

.dotgraph .caption
{
	position: sticky;
	left: 0;
	bottom: 0;
}

.textblock
{
	overflow-wrap: anywhere;
}

.textblock img.inline
{
	float:right;
	margin: 0px 10px;
}

